# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.log

# Environments
.venv/
venv/
env/
.env
.env.*

# Testing/coverage
.coverage
.coverage.*
**/.coverage*
.pytest_cache/
client/.coverage
htmlcov/

# IDE / Editors
.vscode/
.idea/
*.iml
.vs/

# OS
.DS_Store
Thumbs.db

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Uvicorn reload state
.reload*

# PostgreSQL data
postgres_data
