html {
    background-color: var(--color-white);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: medium;
    color: var(--color-black);
}

.container {
    margin: 40px 120px;
}

section {
    margin: 40px 0;
}

p {
    line-height: 140%;
}


h2 {
    font-size: 32px;
}

h2, h3 {
    margin: 20px 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

th {
    text-align: left;
}

th .pill {
    display: inline-block;
    background: var(--color-gray);
    padding: 8px 12px;
    border-radius: 16px
}

tbody tr {
    border-bottom: 3px solid var(--color-gray);
}

tbody tr:last-child {
    border-bottom: none
}

thead th, tbody td, li {
    padding: 12px 48px 12px 0px;
}

.results-table th:nth-child(1) {
    width: 40%;
}

.results-table th:not(:first-child) {
    min-width: 160px;
}

li {
    list-style-type: disc;
    list-style-position: inside;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit; 
}
